*{
	margin:0;
	padding:0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url("c4056a76cb953765b936a8c68cf67748.jpg");
    background-size:cover;
    background-position: center;
	
}

h1 {
    text-align: center;
    color: #e6eeff;
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #002699;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #0000ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

@media screen and (max-width: 480px) {
    form {
        width: 90%;
    }
}
